# TASKFLOW Worker - Variables de entorno
PORT=3000
MONGODB_URI=mongodb://localhost:27017/taskflow
REDIS_URL=redis://localhost:6379
BACKEND_URL_PARA_WORKER=http://localhost:3000
WORKER_INTERVALO_MS=500
CACHE_TTL_SEGUNDOS=30
